__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
build/
dist/
.ipynb_checkpoints/
*.swp
.DS_Store

# figures
docs/*.png
docs/figs/

# venv
.venv

# LaTeX aux files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
